    <footer id="footer" class="pt-3">
    <div class="row">
        <div class="col-lg-12">
            <a href="#top" class="float-lg-right"><i class="fa fa-fw fa-chevron-up"></i>&nbsp;Back to Top</a>
            <p>&copy;&nbsp;<%= bot.user.createdAt.getFullYear() %>-<%= new Date().getFullYear() %>&nbsp;<%= creator.username %>#<%= creator.discriminator %></p>
        </div>
    </div>
    </footer>
    </div> <!-- container -->
</body>

</html>